<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="description" content="">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">

<link rel="stylesheet" th:href="@{/s/iconfont/iconfont.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/s/element-ui/2.4.6/theme-chalk/index.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/s/assets/__.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/s/assets/all.css}" type="text/css" />

<script th:src="@{/s/vue/2.5.17/vue.min.js}"></script>
<script th:src="@{/s/element-ui/2.4.6/index.js}"></script>
<script th:src="@{/s/axios/0.18.0/axios.min.js}"></script>
<script th:src="@{/s/assets/__.js}"></script>

<script type="text/javascript" th:inline="text">
	__.ctx = '[[@{/}]]'.replace(/\/$/, '');
</script>


