<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<object th:replace="_include/_meta"></object>
<title>home</title>
<style type="text/css">
.el-header {
	background-color: #B3C0D1;
	color: #333;
	text-align: center;
	height: 60px;
}

.el-aside {
	background-color: #D3DCE6;
	color: #333;
	text-align: center;
}

.el-main {
	background-color: #E9EEF3;
	color: #333;
	text-align: center;
	line-height: 160px;
}

.el-main iframe {
	width: 100%;
	height: 100%;
}

.fit {
	height: 100%;
}
</style>
</head>
<body>
	<div id="vm" class="fit">
		<div is="el-container" class="fit">
			<div is="el-header"></div>
			<div is="el-container" style="height: calc(100% - 60px);">
				<div is="el-aside" width="200px"></div>
				<div is="el-main">
					<iframe src="about:blank" style="border: none;"></iframe>
				</div>
			</div>
		</div>
	</div>
	<script>
		new Vue({
			el : '#vm',
			data : {
				token : {
					account : '',
					password : ''
				}
			},
			methods : {}
		});
	</script>
</body>
</html>
